html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
body {
  position: relative;
  background-color: #3a4043;
  color: white;
  font-family: Roboto, sans-serif;
}
.xdebug-error {
  color: black;
}
h2 {
  font-size: 1.3em;
}
a {
  text-decoration: none;
  color: #ef910a;
  font-weight: bold;
}
a:hover,
a:focus {
  color: #f7a735;
}
input[type='text'],
input[type='search'] {
  background-color: #3a4043;
  color: white;
  border: none;
}
#main-header {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
  background-color: #ef910a;
  font-size: 2em;
  height: 5rem;
}
#main-header #title a {
  display: flex;
  align-items: center;
}
#main-header #title img {
  height: 1.5em;
}
#main-header #title h1 {
  color: #9a0c0c;
  font-size: 1em;
  margin-left: 0.5em;
  text-transform: uppercase;
}
.burger {
  display: none;
  position: relative;
  width: 1em;
  height: 1em;
}
.burger .burger-line {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  background-color: #9a0c0c;
}
.burger .burger-line:nth-of-type(2) {
  top: 40%;
}
.burger .burger-line:nth-of-type(3) {
  top: 80%;
}
.column {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
#carousel {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  margin-top: 5rem;
}
#carousel img {
  display: none;
  width: 100%;
}
#carousel img.active {
  display: block;
}
#movie {
  margin-top: 5rem;
  padding: 1em;
  flex-direction: column;
}
#movie img {
  width: 100%;
}
#movie .movieInformation {
  width: 100%;
}
#movie .movieInformation h2,
#movie .movieInformation .text {
  width: 100%;
  background-color: #4b5256;
  padding: 10px 15px;
  box-sizing: border-box;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
#movie .movieInformation h2 .bold,
#movie .movieInformation .text .bold {
  font-weight: 800;
}
#movies #middle-menu {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  background-color: #272b2d;
  padding: 0.8em 1em;
}
#movies #middle-menu nav a {
  margin-left: 0.5em;
}
#movies #middle-menu nav a:first-of-type {
  margin-left: 0;
}
#movies #middle-menu .research {
  width: 6em;
}
#movies #middle-menu .research,
#movies #middle-menu #submit {
  font-size: 0.7em;
  padding: 0.5em 1em;
}
#movies #middle-menu form {
  display: flex;
}
#movies #middle-menu button {
  background-color: #3a4043;
  border: none;
  cursor: pointer;
  color: #fff;
}
#movies #middle-menu button:hover {
  background-color: #525a5e;
}
#movie-list {
  font-size: 0.8em;
  position: relative;
  list-style-type: none;
  text-align: right;
  top: -100%;
  transition: all ease-in-out 2s;
}
#movie-list.positioned {
  top: 0;
}
#movie-list .movie {
  display: flex;
  align-items: center;
}
#movie-list .film {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 6rem;
  box-sizing: border-box;
}
#movie-list .film .film-side {
  height: 100%;
  width: 1.5rem;
}
#movie-list .film .film-side .hole {
  border: 0.36rem solid black;
  height: 25%;
  box-sizing: border-box;
}
#movie-list .film img {
  height: 100%;
  border-top: 0.36rem solid black;
  border-bottom: 0.36rem solid black;
  box-sizing: border-box;
}
#movie-list .movie-info {
  position: relative;
  left: -100%;
  opacity: 0;
  z-index: 0;
  transition: all ease-in-out 2s 2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 4.92rem;
  width: 100%;
  background-color: #4b5256;
  padding: 0.3rem 0.8rem;
  box-sizing: border-box;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
}
#movie-list .movie-info.positioned {
  left: 0;
  opacity: 100;
}
.no-result {
  width: 100%;
  text-align: center;
  background-color: #ef910a;
  color: #9a0c0c;
  font-size: 1rem;
  padding: 0.1em 0.5em;
  box-sizing: border-box;
}
#main-footer {
  margin-top: 2rem;
  font-size: 0.9em;
  background-color: #272b2d;
  padding: 0.8rem 1.6rem;
  text-align: center;
}
@media (min-width: 400px) {
  #movies #middle-menu .research {
    width: 10em;
  }
}
@media (min-width: 592px) {
  .column {
    width: 95%;
  }
  #movies #middle-menu {
    padding: 0.8em 1.6em;
  }
  #movies #middle-menu .research {
    width: 12em;
  }
}
@media (min-width: 768px) {
  .column {
    width: 90%;
  }
  #movie-list .film {
    height: 6.5rem;
  }
  #movie-list .film .film-side {
    width: 1.625rem;
  }
  #movie-list .film .film-side .hole {
    border: 0.39rem solid black;
  }
  #movie-list .film img {
    border-top: 0.39rem solid black;
    border-bottom: 0.39rem solid black;
  }
  #movie {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
  }
  #movie img {
    width: 50%;
  }
  #movie .movieInformation {
    width: 48%;
  }
  #movie .movieInformation h2,
  #movie .movieInformation .text {
    width: 100%;
    background-color: #4b5256;
    padding: 10px 15px;
    box-sizing: border-box;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }
  #movie .movieInformation h2 .bold,
  #movie .movieInformation .text .bold {
    font-weight: 800;
  }
}
@media (min-width: 992px) {
  .column {
    width: 80%;
  }
  #movie-list .film {
    height: 7rem;
  }
  #movie-list .film .film-side {
    width: 1.75rem;
  }
  #movie-list .film .film-side .hole {
    border: 0.42rem solid black;
  }
  #movie-list .film img {
    border-top: 0.42rem solid black;
    border-bottom: 0.42rem solid black;
  }
}
@media (min-width: 1200px) {
  .column {
    width: 60%;
  }
  #movie-list .film {
    height: 7.5rem;
  }
  #movie-list .film .film-side {
    width: 1.875rem;
  }
  #movie-list .film .film-side .hole {
    border: 0.45rem solid black;
  }
  #movie-list .film img {
    border-top: 0.45rem solid black;
    border-bottom: 0.45rem solid black;
  }
  #movie {
    margin-top: 5rem;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
  }
  #movie img {
    width: 30%;
  }
  #movie .movieInformation {
    width: 65%;
  }
  #movie .movieInformation h2,
  #movie .movieInformation .text {
    width: 100%;
    background-color: #4b5256;
    padding: 20px 60px;
    box-sizing: border-box;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }
  #movie .movieInformation h2 .bold,
  #movie .movieInformation .text .bold {
    font-weight: 800;
  }
}
