@import 'var.less';

// Reset
html, body, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

// ==========================================

html {
    font-size: 100%;
}

body {
    position: relative;
    background-color: @bg-color;
    color: white;
    font-family: Roboto, sans-serif;
}

.xdebug-error {
    color: black;
}

h2 {
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: @header-color;
    font-weight: bold;

    &:hover, &:focus {
        color: lighten(@header-color, 10%);
    }
}

input[type='text'],
input[type='search'] {
    background-color: @bg-color;
    color: white;
    border: none;
}

#main-header {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    background-color: @header-color;
    font-size: 2em;
    height: @header-height;

    #title {
        a {
            display: flex;
            align-items: center;
        }

        img {
            height: 1.5em;
        }

        h1 {
            color: @red;
            font-size: 1em;
            margin-left: 0.5em;
            text-transform: uppercase;
        }
    }
}

.burger {
    display: none;
    position: relative;
    width: 1em;
    height: 1em;

    .burger-line {
        position: absolute;
        top: 0;
        width: 100%;
        height: 20%;
        background-color: @red;

        &:nth-of-type(2) {
            top: 40%;
        }

        &:nth-of-type(3) {
            top: 80%;
        }
    }
}

.column {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

#carousel {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    margin-top: @header-height;

    img {
        display: none;
        width: 100%;

        &.active {
            display: block;
        }
    }
}

#movie {
    margin-top: @header-height;
    padding: 1em;
    flex-direction: column;

    img {
        width: 100%;
    }
    .movieInformation {
        width: 100%;

        h2, .text {
            width: 100%;
            background-color: @window-color;
            padding: 10px 15px;
            box-sizing: border-box;
            box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
            margin-bottom: 10px;

            .bold {
                font-weight: 800;

            }
        }
    }
}

#movies {

    #middle-menu {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5em;
        background-color: @footer-color;
        padding: 0.8em 1em;

        nav a {
            margin-left: 0.5em;

            &:first-of-type {
                margin-left: 0;
            }
        }

        .research {
            width: 6em;
        }

        .research, #submit {
            font-size: 0.7em;
            padding: 0.5em 1em;
        }

        form {
            display: flex;
        }

        button {
            background-color: @bg-color;
            border: none;
            cursor: pointer;
            color: #fff;
        }
        button:hover{
            background-color: lighten(@bg-color, 10%);
        }
    }
}

#movie-list {
    font-size: 0.8em;
    position: relative;
    list-style-type: none;
    text-align: right;

    @film-height: 6rem;
    @film-hole-width: @film-height * 0.25;
    @film-thickness: @film-height * 0.06;

    top: -100%;
    transition: all ease-in-out 2s;

    &.positioned {
        top: 0;
    }

    .movie {
        display: flex;
        align-items: center;
    }

    .film {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        height: @film-height;
        box-sizing: border-box;

        .film-side {
            height: 100%;
            width: @film-hole-width;

            .hole {
                border: @film-thickness solid @film-color;
                height: 25%;
                box-sizing: border-box;
            }
        }

        img {
            height: 100%;
            border-top: @film-thickness solid @film-color;
            border-bottom: @film-thickness solid @film-color;
            box-sizing: border-box;
        }
    }

    .movie-info {
        position: relative;
        left: -100%;
        opacity: 0;
        z-index: 0;
        transition: all ease-in-out 2s 2s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: @film-height - @film-thickness * 3;
        width: 100%;
        background-color: @window-color;
        padding: 0.3rem 0.8rem;
        box-sizing: border-box;
        box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);

        &.positioned {
            left: 0;
            opacity: 100;
        }
    }
}

.no-result {
    width: 100%;
    text-align: center;
    background-color: @header-color;
    color: @red;
    font-size: 1rem;
    padding: 0.1em 0.5em;
    box-sizing: border-box;
}

#main-footer {
    margin-top: 2rem;
    font-size: 0.9em;
    background-color: @footer-color;
    padding: 0.8rem 1.6rem;
    text-align: center;
}

@import 'responsive.less';
