<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="resources/img/logo.png" />
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no'>
    <title>Modaba</title>
    <link rel='stylesheet' href='resources/css/style.css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
    <header id='main-header'>
        <div id='title'>
            <a href="#">
                <img src='resources/img/logo.png'>
                <h1>Modaba</h1>
            </a>
        </div>
        <div class='burger'>
            <div class='burger-line'></div>
            <div class='burger-line'></div>
            <div class='burger-line'></div>
        </div>
    </header>
    <section id='carousel' class='column'>
        {% for movie in thumbnails %}
            <img src='resources/img/picture/{{ movie.thumbnail }}' alt='{{ movie.title }} screenshot'>
        {% endfor %}
    </section>
    <section id='movies' class='column'>
        <div id='middle-menu'>
            <nav>
                <a href='?order=ASC'>A-Z</a>
                <a href='?order=DESC'>Z-A</a>
            </nav>
            <form method="post" action=".">
                 <input type='search' class='research' name='research' placeholder='Recherche'>
                 <button type="submit" id="submit" name='submit'>
                     <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <ul id='movie-list'>

            {% for item in title %}
            <li class='movie'>
                <div class='film'>
                    <div class='film-side'>
                        <div class='hole'></div>
                        <div class='hole'></div>
                        <div class='hole'></div>
                        <div class='hole'></div>
                    </div>
                    <img src='resources/img/picture/{{ item.thumbnail }}'>
                    <div class='film-side'>
                        <div class='hole'></div>
                        <div class='hole'></div>
                        <div class='hole'></div>
                        <div class='hole'></div>
                    </div>
                </div>
                <div class='movie-info'>
                    <h2>{{ item.title }}<span class='date'> ({{ item.release_date|date('Y') }})</span></h2>
                    <div class='director'>Réalisé par {{ item.director }}</div>
                    <a href='./movie?id={{ item.id_movie }}'>En savoir plus</a>
                </div>
            </li>
            {% endfor %}

            {% if search is empty and title is empty %}
                <div class="no-result">
                    <p>Aucun résultat pour votre recherche</p>
                </div>
            {% else %}

                {% for item in search %}
                <li class='movie'>
                    <div class='film'>
                        <div class='film-side'>
                            <div class='hole'></div>
                            <div class='hole'></div>
                            <div class='hole'></div>
                            <div class='hole'></div>
                        </div>
                        <img src='resources/img/picture/{{ item.thumbnail }}'>
                        <div class='film-side'>
                            <div class='hole'></div>
                            <div class='hole'></div>
                            <div class='hole'></div>
                            <div class='hole'></div>
                        </div>
                    </div>
                    <div class='movie-info'>
                        <h2>{{ item.title }}<span class='date'> ({{ item.release_date|date('Y') }})</span></h2>
                        <div class='director'>Réalisé par {{ item.director }}</div>
                        <a href='./movie?id={{ item.id_movie }}'>En savoir plus</a>
                    </div>
                </li>
                {% endfor %}

            {% endif %}

        </ul>
    </section>
    <footer id='main-footer' class='column'>
        <p>Réalisé par Adrien Avril, Estelle Jacquet, Yoann Moreau et Léo Souverain</p>
    </footer>

    <script type='text/javascript' src='resources/js/document.js'></script>
</body>

</html>
