<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="resources/img/logo.png" />
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{ item.title }} | Modaba</title>
    <link rel='stylesheet' href='resources/css/style.css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
    <header id='main-header'>
        <div id='title'>
            <a href="#">
                <img src='resources/img/logo.png'>
                <h1>Modaba</h1>
            </a>
        </div>
        <div class='burger'>
            <div class='burger-line'></div>
            <div class='burger-line'></div>
            <div class='burger-line'></div>
        </div>
    </header>
    <section id="movie">
        {% for item in movie %}
            {% for i in poster %}
                <img src='resources/img/poster/{{ i.image }}' alt='{{ item.title }}'>
            {% endfor %}

            <div class="movieInformation">
               <h2>{{ item.title }}</h2>
                <div class="text">
                    <p>
                    <span class="bold">Genre :</span> {% for i in genre %}
                        {{ i.name }}
                    {% endfor %}
                    </p>

                    <p><span class="bold">Réalisé par :</span> {{ item.director }}</p>

                    <p><span class="bold">Sorti le : </span> {{ item.release_date|date('d/m/Y') }}</p>

                    <p><span class="bold">Résumé :</span> {{ item.description }}</p>
                    {% endfor %}


                    <p><span class="bold">Acteurs :</span>
                    {% for item in actor %}
                    {{ item.actor }}
                        {% endfor %}</p>
                </div>

            </div>


    </section>
    <footer id='main-footer'>
        <p>Réalisé par Adrien Avril, Estelle Jacquet, Yoann Moreau et Léo Souverain</p>
    </footer>

</body>

</html>
